.invoice-container {
    background: url("../../../public/images/background.PNG");
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    min-height: 737px;

    .invoice-page {
        text-align: center;
        margin: 0 auto;
        margin-top: 75px;
        background: #E4C6C5;
        background-size: cover;
        background-position: center;
        max-width: 900px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-weight: bold;
        }

        .order-id {
            font-size: 22px;
            font-weight: bold;
            border: #DE5260 6px solid;
            padding: 5px;
        }

        .indication {
            font-size: 19px;
            width: 800px;
            
        }

        a {
            background: #DE5260;
            color: white;
            border: none;
            border-radius: 20px;
            padding: 10px 0;
            height: 42px;  
            width: 152px;
            font-weight: bold;
            cursor: pointer;
            margin: 20px 0;
        }
    
        a:hover {
            background: #b53a46;
            transition: 0.5s;
        }
    }
}