nav {
    display: flex;
    justify-content: center;
    background: #EAA8A5;
    border-bottom: #DE5260 4px solid;
    align-items: center;  
    height: 69px; 
    z-index: 2;

    .nav-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;  
        width: 100%;  

        .logo {
                width: 65px; 
                height: 65px;
            img {
                width: 100%;
            }
        }

        .menu {
            display: flex;
            align-items: center;  
            li {
                height: 35px; 
                a {
                    color: #000;
                    font-weight: bold;
                    margin-right: 30px;  
                    height: 35px;  
                    display: flex;
                    align-items: center;  
                    border-radius: 50px;
                }
            }
        }

        .rightPart {
            display: flex;
            align-items: center;
            width: 200px;
            .cart {
                display: flex;
                align-items: center;
                margin-right: 15px;
                img {
                    width: 30px;
                }
            }
            .dropDown {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 150px;
                .userButton {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .userName {
                        color: #000;
                        font-weight: bold; 
                        margin-right: 10px;
                    }

                    .userLogo {
                        width: 20px;
                        height: 20px;
                    }
                }

                .dropDownList {
                    display: flex;
                    flex-direction: column;
                    border: 2px #DE5260 solid;
                    background: #EAA8A5;
                    position: fixed;
                    margin-top: 50px;
                    border-radius: 5px;
                }
            }
            .dropDownButton {
                padding-top: 8px;
                padding-bottom: 8px;
                display: flex;
                border: 0.2px #DE5260 solid;
                color: #000;
                align-items: center;  
                height: 35px;  
                width: 150px;
                font-weight: bold;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
    
            .dropDownButton:hover {
                transition: 0.5s;
            }

            .button {
                background: #DE5260;
                border-radius: 50px;
                padding: 5px 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;  
                height: 35px;  
                width: 150px;
                font-weight: bold;
            }
    
            .button:hover {
                background: #b53a46;
                transition: 0.5s;
            }
        }
        
    }
}
