.edit-container {
    background: #E4C6C5;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    min-height: 737px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}